<!-- <div class="jumbotron py-3">
    <h1 class="display-4 text-center">Product Category List</h1>
</div> -->

<div class="topnav">
    <a class="active" href="product-category-details-form/product-category-details-form.component.html">Product Category</a>
    <a href="../product-details/product-details-form/product-details-form.component.html">Products</a>
</div>



<div class="row mt-2">
    <h3>Product Category Details</h3>
    <div class="col-md-6 card">
        <app-product-category-details-form></app-product-category-details-form>
    </div>
    <div class="col-md-6 card ml-2">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <td>Category Name</td>
                    <td>Category Description</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click) = "populateForm(pd)">{{pd.categoryName}}</td>
                    <td (click) = "populateForm(pd)">{{pd.categoryDescription}}</td>
                    <td><i class="far fa-trash-alt fa-lg text-danger" (click) = "onDelete(pd.categoryID)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>